<section>
  <div class="container col-12 col-sm-6 col-lg-3 text-center justify-content-center">
    <hr><h1>Contact Form</h1><hr>
    <%- include ('./partials/messages') %>
    <form action="/contact" method="POST">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
        </div>
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="firstname" class="form-control" name="firstname" value="<%= typeof firstname != 'undefined' ? firstname : '' %>">
          </div>
          <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="lastname" class="form-control" name="lastname" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" value="<%= typeof message != 'undefined' ? message : '' %>"></textarea>
          </div>
        <button type="submit" class="btn btn-primary btn-block">Send</button>
        <% if(!user) { %>
            <a role="button" class="btn btn-danger btn-block" href="/">Cancel</a>
        <% } else { %>
            <a role="button" class="btn btn-danger btn-block" href="/dashboard">Cancel</a>
        <% } %>
    </form>
  </div>
</section>